body{
    background-color: #313131;
}
/*Diseño para el logo y el titulo */
.logo{
    width: 200px;
    margin-top: 35%;
}
/* img{
    width: 80%;
    margin-top: 60%;
    margin-left: 70%;
} */
.titulo{
   margin-top: 5%;
   color: orange;
   text-align: center;
}
/*Diseño para el input y el boton */
.login{
   margin-top: 10%;
}
p{
    margin-top: 15%;
    color: white;
}
/*---------------------------------------------------------------*/
/*Diseño para el registro*/
h4{
    color: orange;
    text-align: center;
    margin-top: 30%;
}
/*Diseño para formulario*/
.formulario{
    margin-top: 10%;
    color: white;
    
}
#correo{
    margin-bottom: 1%;
}

#regis a {
    color: orange;
    text-decoration: none;
}

@media (max-width:480px){
.logo{
margin-left: 25%;
}
}
@media(max-width:320px){
 .logo{
     margin-left: 20%;
 }
}
@media(min-width:768px){
    .login{
        margin-left: 25%;
    }
}
@media(min-width:1024px){
    .login{
        margin-left: 37%;
        margin-top:5%;
    }
}